.logout {
    width: 30vw;
    height: 9vh;
    margin-left: 32rem;
    border-radius: 16px;
    background-color: black;
    color: white;
    font-size:x-large;
}

.container > h2 {
    margin-left: 36rem;
    color: gray;
}
.container > h3 {
    margin-bottom: 2rem;
    margin-left: 40rem;
    color: gray;
}