.descontain {
  width: 80%;
  margin: auto;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}
.destitle {
  line-height: 18px;
  font-size: 15px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 300;
  margin-bottom: 10px;
}

.desmain {
  margin-top: 20px;
  width: 100%;
  display: flex;
  margin: auto;
  gap: 30px;
}

/* zoom effects */

.zoomeffectcontainer {
  float: left;
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.desout {
  position: absolute;
  top: 0;
  left: 0;
}

.desout .deselem {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoomeffectcontainer:hover .desout .deselem {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.desimgs {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 0 auto;
}

.desout {
  box-sizing: content-box;
  cursor: zoom-in;
  width: 100%;
}
.desparas {
  width: 35%;

  border-bottom: 1px solid #ecedeb;
}
.price {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.price > p {
  margin: 0;
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
  color: grey;
}
.price > div {
  display: flex;
}
.price > div > h2 {
  font-size: 28px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 550;
  line-height: 30px;
  padding-left: 2px;
  margin-top: 0px;
}

.inclu {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inclu > p {
  color: #303ab2;
  padding: 0;
  font-size: 14px;
  text-align: left;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  text-transform: none;
  text-decoration: underline;
}
.incluimg {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
  color: grey;
}
.smallimg {
  margin-top: 30px;
  height: 50px;
  width: 50px;
  border: 2px solid #303ab2;
  border-radius: 5px;
  padding: 5px;
}
.smallimg > img {
  width: 100%;
  height: 100%;
}
.color {
  margin-top: 10px;
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
  color: grey;
}
.color > span {
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 1.43;
  color: black;
}

.size {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  font-size: 14px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}
.size > p:last-child {
  text-decoration: underline;
}
.sizelist {
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.sizelist > button {
  cursor: pointer;
  width: 15%;
  border: none;
  color: black;
  font-weight: 600;
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  background-color: white;
  border-radius: 2px;
  border: 3px solid #f0f0f9;
}
.sizelist > button:hover {
  border: 3px solid #303ab2;
}

.addbasket {
  margin-top: 20px;
}

.addbasket > button,
.pin > button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 56px;
  background-color: #303ab2;
  color: white;
  padding: 6px 16px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 1.75;
}

.promotion {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecedeb;
}
.promotion > div:first-child {
  margin-bottom: 10px;
  width: 136px;
  height: 28px;
  font-weight: normal;
  border-radius: 3px;
  background-color: #fff4f4;
  color: rgb(239, 83, 80);
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.promotion > div:last-child {
  width: 90%;
  color: #000000;
  margin: 0;
  font-size: 13px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}
.promotion > div:last-child > span {
  text-decoration: underline;
}

.favshare {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecedeb;
}
.favshare > div:first-child,
.favshare > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  line-height: 1.75;
}
.favshare > div:first-child > span {
  width: 22px;
  height: 21px;
  background: url(https://i1.lmsin.net/website_images/static-pages/brand_exp/brand2images/prod/Sprite_icons.svg) -549px -246px;
}

.favshare > div:last-child > span {
  width: 19px;
  height: 20px;
  background: url(https://i1.lmsin.net/website_images/static-pages/brand_exp/brand2images/prod/Sprite_icons.svg) -590px -246px;
}

.collect {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.click > h4 {
  font-size: 14px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.71;
  font-weight: 600;
}
.click > p {
  font-size: 14px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  line-height: 1.43;
}
.click > p > span {
  color: #303ab2;
  text-decoration: underline;
}
.click {
  width: 100%;
}
.pin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.pin > input {
  width: 75%;
  border: 1px solid #d6d8f0;
  height: 48px;
  outline: none;
  padding: 5px 5px 5px 16px;
  font-size: 14px;
  box-shadow: none;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  border-radius: 2px;
}
.pin > button {
  width: 20%;
  height: 48px;
}
.bor {
  border-bottom: 1px solid #ecedeb;
}
.overview {
  margin-top: 20px;
}
.overview > h5 {
  color: #000000;
  font-size: 14px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 1.43;
  margin-bottom: 10px;
}
.overview > p,
.list {
  margin: 0;
  font-size: 14px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
}
.list {
  margin-left: 20px;
  margin-top: 20px;
}
.read {
  padding-top: 20px;
  text-decoration: underline;
}

.reviews {
  margin-top: 50px;
  height: 350px;
  background-color: #ecedeb;
}
.re {
  padding-top: 60px;
  margin: auto;
  width: 80%;
}
.re > div:first-child {
  font-size: 36px;
}
.write {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.write > div {
  color: rgb(0, 0, 0);
  width: 224px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 24px;
}
.write > button {
  color: #303ab2;
  border: 1px solid rgba(48, 58, 178, 0.5);
  width: 296px;
  height: 56px;
  font-size: 14px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  line-height: 1.75;
  -webkit-tap-highlight-color: transparent;
  background-color: #ecedeb;
}
.youlike {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.youlike > h2 {
  font-size: 36px;
  padding-top: 40px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  line-height: 1.43;
}
