.container {
  padding: 2rem 2rem;
  width: 98vw;
  border-bottom: 1px solid rgb(223, 214, 214);
}

.imgContainer {
  padding: 0 4rem;
  display: flex;
}

.btnContainer {
  position: relative;

}

.btnContainer > button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: blue;
  font-size: 16px;
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  width: 18vw;
  height: 8vh;
}

