.mainland {
  margin-top: 0px;
  padding-top: 0px;
  width: 80%;
  margin: auto;
}
.off {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ecedeb;
}
.spotlight {
  margin-top: 50px;
  border-bottom: 1px solid #ecedeb;
  padding-bottom: 50px;
}
.landtitles {
  font-size: 36px;
  font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  margin-bottom: 26px;
}
.spot {
  display: flex;
  gap: 20px;
}
.cusfav {
  border-bottom: 1px solid #ecedeb;
  padding-bottom: 80px;
  margin-top: 50px;
}
.bycats {
  margin-top: 60px;
  border-bottom: 1px solid #ecedeb;
  padding-bottom: 40px;
}
.catcontain {
 width : 100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 20px;
}


.cattitle {
  margin: auto;
  width: 80%;
  color: #000000;
  font-size: 17px;
  font-weight: 550;
  text-align: center;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.2;
  padding-top: 8px;
}
.budget {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ecedeb;
}
.buds {
  display: flex;
  gap: 20px;
}

.youthstore {
  margin-top: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ecedeb;
}
.trends {
  margin-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ecedeb;
}
.trendgrid {
width : 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 30px;
  row-gap: 100px;
}
.topstore {
  margin-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ecedeb;
}
.tops {
  display: flex;
  gap: 20px;
}
.view,
.giftzone,
.bgspotlight,
.bgtrends {
  margin-top: 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ecedeb;
}
.connect {
  margin-top: 60px;
  padding-bottom: 50px;
}

.slimain {
  margin-top: 40px;

  width: 100%;
  margin-bottom: 80px;
}
.slimain > div {
  margin: auto;
}

.blue {
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  background-color: #303ab2;
}
.bluestrip {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  font-family: ProximaNova-Semibold, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
}
.blue>span{
  width: 16px;
    height: 16px;
    background: url(https://i1.lmsin.net/website_images/static-pages/brand_exp/brand2images/prod/Sprite_icons.svg) -28px -108px no-repeat;
}