#head {
    height: 40px;
    width: 90%;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    padding-bottom: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
    /* position: fixed; */
    margin: auto;
}



.img {
    height: 80%;
    width: 80%;
}

#head>div>p {
    font-size: 13px;
    line-height: 15px;
    color: #130401;
    text-align: end;
}

/* Content part */
#content {
    width: 90%;
    margin: auto;
    /* height: 800px; */
    margin-top: 20px;
    gap: 40px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#leftcontent {
    width: 65%;
}

#shippingmethod {
    height: 200px;
    width: 100%;
    /* border: blue 1px solid; */
}

#getproduct {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

#getproduct>div {
    width: 50%;
    height: 70px;
    margin: auto;
    text-align: center;
    line-height: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

#getproduct>div>p:nth-child(1) {
    margin-top: 15px;
    font-weight: 600;
    font-size: 17px;
}

#getproduct>div>p:nth-child(2) {
    font-size: 13px;
    color: grey;
    font-weight: 500;
    margin-top: 10px;
}
#form{
   margin-top: 30px; 
}
#shippingform {
    width: 100%;
    /* border:1px solid; */
}

#shippingform>form>div {
    padding-bottom: 10px;
    /* border:1px solid; */

}

#shippingform>form>div>input {
    width: 62%;
    height: 32px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

/* #shippingform>form>div>label { */
.label{
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
}

.paymentmethod {
    /* EMI part */
    display: flex;
    align-items: center;
    line-height: 16px;
    padding: 20px;
    gap: 15px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-top: 20px;
}

.paymentmethod>div:nth-child(1) {
    width: 15%;
}

.paymentmethod>div>p {
    font-size: 15px;
    color: grey;
    margin-top: 8px;
}

#paynow {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#paynow>div>p {
    font-size: 12px;
    color: grey;
}

#paynow>div>button {
    background-color: #303ab2;
    color: white;
    border: none;
    /* width: 200px;
    height: 40px; */
    padding: 15px 120px;
    border-radius: 5px;
    font-weight: 600;
}

/* #terms {
    border: 1px solid blue;
    height: 120px;
} */

#comodo {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

#comodo>div>p {
    font-size: 13px;
    color: grey;
}

#terms>div:last-child {
    padding-left: 13%;
    line-height: 20px;
    font-size: 13px;
}

/* Right side part */

#rightcontent {
    width: 30%;
    /* height: 650px; */
    padding-left: 10px;
}

#ordersummery {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 5px;
}

#ordersummery>div {
    padding-bottom: 3px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#ordersummery>div:first-child>p {
    font-size: 18px;
}


.imgdiv {
    width: 25%;
    padding: 5px 5px;
    margin: 5px 0px;
}

.imgdiv>img {
    width: 100%;
    height: 90%;
}

.textdiv {
    padding-left: 5px;
    font-size: 12px;
}

#ordersummery>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-weight: bold;
}

#ordersummery>div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-weight: bold;
}

#ordersummery>div:nth-child(5) {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-weight: bold;
    box-shadow: none;
}

#paymentimage>div {
    margin: 10px;
}

#paymentimage>div>img {
    padding: 5px;
}

/* -------------card details------------------ */

.carddetail{
    width: 50%;
    margin-top: 30px;
    margin-left: 40px;
    font-family: "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cardradio{
    display: flex;
    justify-content: space-between;
    margin: 0 0 13px;
    font-weight: 700;
    vertical-align: top;
    color: #242428;
    font-size: 14px;
}

.cardform{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.num{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 13px;
    font-weight: 700;
    vertical-align: top;
    color: #242428;
    font-size: 14px;
}

.excon{
    display: flex;
    justify-content: space-between;
}
.cvv{
    display: flex;
    align-items: center;
    gap: 5px;
}

.expiry>p,.cvv>p{
    font-weight: 700;
    color: #242428;
    font-size: 14px;
    margin-bottom: 10px;
}
.num>input{
    padding: 6px 14px;
    padding-right: 70px;
    height: 42px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 7%);
    border: solid 1px #d7ddde;
    vertical-align: middle;
    background-color: #fff;
}
.expiry>div{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.expiry>div>select, .cvvdiv>input{
    width: 100%;
    padding: 6px 14px;
    height: 42px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 7%);
    border: solid 1px #d7ddde;
    vertical-align: middle; 
     color: #bdc3c7;
background-color: #fff; 
}
.cvvdiv>input{
    width: 50%;
}
/* -----order summary--------------------- */
.orderimg{
    padding: 5px;
}
.orderimg>img{
    height: 90px;
}
.orderel{
    display: flex;
    gap: 5px;
}
.orderdes>p:first-child{
    margin-top: 5px;
    color: #72818d;
    font-size: 14px;
    margin-bottom: 5px;
}
.ordertitle{
    color: #3d464d;
    font-size: 14px;
}
.orderdes>div{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    color: #72818d;
    font-size: 13px;
}
.ru{
    color: #3d464d;
    font-weight: 600;
    font-size: 13px;
}

.pricy{
   height: 40px;
   display: flex;
   align-items: center;
   
}