 .mainDiv {
    box-sizing: border-box;
    padding: 5%;
    background-color: transparent;
    position:relative;
}
.productDiv{
    width: 90%;
    margin: auto;
}
.mainDiv:hover  { 
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
}
.mainDiv:hover .hiddenDiv {
    display:inline-block;
    background-color: lightgray;
}
.hiddenDiv{
    width: 100%;
    display:none;
    margin-top: 10px;
    box-sizing: border-box;
}
.hiddenDiv>div{
    box-sizing: border-box;

    padding:1%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#wishList>img{
    width: 30px;
}
#wishList>img:hover{
    width: 40px;
    transition: width 100ms;
}
